.navbar {
  background-color: #ffffff !important;
  font-size: 62.5%;
  padding: 2em 3em !important;
}

.logo {
  height: 1em;
}

.navLink {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4em;
  color: #1f2a36;
}

.navLink:hover {
  color: #5e50a1;
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.dropdownIcon a {
  padding-right: 0;
  color: #5e50a1;
}

@media (min-width: 576px) {
  .navbar {
    padding: 2em 10em !important;
  }
}
@media (min-width: 768px) {
  .navbar {
    padding: 15px 150px;
  }
  .navLink {
    font-size: 1.6em;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: inherit 150px !important;
  }
}
