.navbar {
  background-color: #ffffff !important;
  padding: 42px 120px !important;
}

.logo {
  width: 100%;
}

.navLink {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #1f2a36;
}

.navLink:hover {
  color: #5e50a1;
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.dropdownIcon a {
  padding-right: 0;
  color: #5e50a1;
}

@media (min-width: 1200px) {
  .navbar {
    padding: inherit 150px !important;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}
