@media (max-width: 512px) {
  .btnBack {
    margin-bottom: 20px;
  }
  .btnSaveSkill {
    margin-top: 12px;
  }
  .uploadSet1 {
    font-size: 10px !important;
    padding-right: 12px !important;
    text-align: center !important;
  }
  .uploadSet2 {
    font-size: 10px !important;
    text-align: center;
  }
  .col1Upload {
    margin: 0 auto !important;
    text-align: center !important;
    margin-bottom: 10px !important;
  }
  .col3Upload {
    margin: auto !important;
    text-align: center !important;
    padding-left: 55px !important;
    margin-bottom: 10px !important;
  }
}
.mainBackground {
  background: #5e50a1;
  height: 300px;
  padding: 0px;
}

.upColor {
  width: 100%;
  height: 300px;
  background-color: black;
}
.cardProfile {
  background: #ffffff;
  border-radius: 8px;
  padding: 25px;
}
.cardProfile,
.cardForm,
.cardSkill,
.cardExp,
.cardPort {
  box-shadow: 0 5px 30px rgba(112, 112, 112, 0.185);
}
.imgCard {
  object-fit: cover;
  width: 150px;
  height: 150px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 100%;
}
.editText {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 56px;
  color: #6f7072;
  justify-content: center;
  cursor: pointer;
  margin-left: 100px !important;
}
.editText::before {
  content: url("../../../assets/img/edit\ \(1\)\ 1.png");
  margin-right: 6px;
}
.profileName {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 56px;
  color: #212529;
  margin: 0;
}
.profileField {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #212529;
  margin-bottom: 4px;
}
.profileType {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #6f7072;
}
.profileLoc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #6f7072;
}
.profileLoc::before {
  content: url("../../../assets/img/map-pin\ \(4\)\ 1.png");
  margin-right: 13px;
}
.profilePhone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #6f7072;
}
.profilePhone::before {
  content: url("../../../assets/img/Vector\ \(1\).png");
  margin-right: 12.33px;
}
.profileDesc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #6f7072;
}
.btnBack {
  border: 1px solid #5e50a1;
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  margin-top: 21px;
}
.socialAccount {
  margin-bottom: 0 !important;
}
.cardForm {
  background: #ffffff;
  border-radius: 8px;
  padding: 50px 40px 27px 40px;
  margin-bottom: 20px;
}
.cardForm div,
.cardExp div,
.cardPort div {
  margin-bottom: 32px;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px !important;
  color: #1f2a36;
}
.everyLabel,
.everyLabelExp,
.everyLabelPort {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}
.everyControl {
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #858d96;
}
.controlArea {
  height: 144px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #858d96;
  margin-bottom: 27px;
}
.btnSave {
  background: #fbb017;
  border-radius: 4px;
  border: #fbb017 solid 1px !important;
  width: 80px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  float: right;
}
.btnSave:hover {
  background: #faa015;
}
.mainRow {
  padding: 40px 20px;
}
.rowSkill {
  flex-direction: row !important;
  row-gap: 15px;
  margin-top: 20px;
}
.cardSkill {
  background: #ffffff;
  border-radius: 8px;
  padding: 36px 30px 27px 30px;
  margin-bottom: 31px;
}
.btnSaveSkill {
  background: #fbb017;
  border-radius: 4px;
  border: #fbb017 solid 1px !important;
  width: 80px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
.btnSaveSkill:hover {
  background: #faa015;
}
.cardSkills {
  background: rgba(251, 176, 23, 0.6);
  border: 1px solid #fbb017;
  box-sizing: border-box;
  border-radius: 4px;
  height: 28px;
  width: 125px;
  margin-top: 35px;
  margin-bottom: 69px;
}
.nameSkills {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  padding: 4px;
}
.editSkill {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.delSkill {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.cardExp {
  padding: 30px 33px;
  margin-bottom: 44px;
  background: #ffffff;
  border-radius: 8px;
}
.mainRowExp {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  overflow-x: scroll;
  scrollbar-width: none;
}

.mainRowExp::-webkit-scrollbar {
  display: none;
}

.cardUpload {
  border-style: dashed;
  border-width: 7px;
  cursor: pointer;
  margin-bottom: 40px;
  margin-top: 40px;
}
.controlAreaExp {
  height: 136px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #858d96;
  margin-bottom: 40px;
}
.btnAdd {
  border: 1px solid #fbb017 !important;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white !important;
  height: 50px;
  color: #fbb017;
  margin-top: 36px;
  margin-bottom: 31px;
  width: 100%;
}
.btnAdd1 {
  border: 1px solid #fbb017 !important;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white !important;
  height: 50px;
  color: #fbb017;
  margin-top: 36px;
  margin-bottom: 31px;
  width: 100%;
  font-size: 12px;
}
.btnAdd2 {
  border: 1px solid #fbb017 !important;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white !important;
  height: 50px;
  color: #fbb017;
  margin-top: 36px;
  margin-bottom: 31px;
  width: 100%;
}
.btnAdd3 {
  border: 1px solid #fbb017 !important;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white !important;
  height: 50px;
  color: #fbb017;
  margin-top: 36px;
  margin-bottom: 31px;
  width: 100%;
}
.btnAdd:hover {
  color: white;
  background: #fbb017 !important;
}
.btnAdd1:hover {
  color: white;
  background: #fbb017 !important;
}
.btnAdd2:hover {
  color: white;
  background: #1e90ff !important;
  border: #1e90ff !important;
}
.btnAdd3:hover {
  color: white;
  background: #f08080 !important;
  border: #f08080 !important;
}
.mainRowPort {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  overflow-x: scroll;
}
.cardPort {
  padding: 30px 33px;
  padding-bottom: 158px;
  margin-bottom: 194px;
  background: #ffffff;
  border-radius: 8px;
}
.imgUpload {
  width: 114px;
  height: 63.14px;
  margin: 0 auto;
  margin-top: 66.43px;
  margin-bottom: 37.43px;
}
.subTextPort1 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1f2a36;
  text-align: center;
}
.subTextPort2 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #1f2a36;
  text-align: center;
  margin-bottom: 40px;
}
.colUploadSet1 {
  padding-bottom: 19px;
}
.uploadSet1 {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #1f2a36;
  text-align: center;
}
.uploadSet2 {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  line-height: 16px;
  color: #1f2a36;
}
.col1Upload {
  text-align: right;
  padding: 0px;
}
.col2Upload {
  text-align: left !important;
  padding: 0px;
}
.col3Upload {
  text-align: left !important;
  padding: 0px;
}
.col4Upload {
  padding: 0px;
}
.mainRowImg {
  margin-bottom: 62px;
}

.skillBadge {
  align-items: center;
  background-color: #fa9e15;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-between;
  padding: 6px 10px;
}
.skillBadge span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60%;
}
.skillBadge .actionButton {
  cursor: pointer;
}
.editPictureButton {
  cursor: pointer;
  text-align: center;
  margin: 25px 0px;
}
.changePictureButton {
  font-size: 14px;
  margin: 25px 0px;
  padding: 10px 20px;
}

.editPictureButton .editIcon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.editPictureButton span {
  font-weight: 600;
  font-size: 22px;
}
.experienceList {
  border: 1px solid #6f707265;
  border-radius: 5px;
  box-shadow: 0 10px 30px #858d9631;
  cursor: pointer;
  padding: 20px 40px;
  height: 100%;
}
.experienceList h5 {
  font-weight: 700;
}
.experienceList h6 {
  font-weight: 600;
}
.experienceList div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.experienceList span {
  color: #858d96;
  font-size: 14px;
}

@media (min-width: 576px) {
  .mainRow {
    padding: 100px 25px;
  }
}
