@media (max-width: 512px) {
  .btnBack {
    margin-bottom: 20px;
  }
  .btnSaveSkill {
    margin-top: 12px;
  }
  .uploadSet1 {
    font-size: 10px !important;
    padding-right: 12px !important;
    text-align: center !important;
  }
  .uploadSet2 {
    font-size: 10px !important;
    text-align: center;
  }
  .col1Upload {
    margin: 0 auto !important;
    text-align: center !important;
    margin-bottom: 10px !important;
  }
  .col3Upload {
    margin: auto !important;
    text-align: center !important;
    padding-left: 55px !important;
    margin-bottom: 10px !important;
  }
}
.mainBackground {
  background: #5e50a1;
  height: 300px;
  padding: 0px;
}

.upColor {
  width: 100%;
  height: 300px;
  background-color: black;
}
.cardProfile {
  background: #ffffff;
  border-radius: 8px;
  padding: 25px;
}
.imgCard {
  width: 150px;
  height: 150px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
}
.editText {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 56px;
  color: #9ea0a5;
  text-align: center;
  cursor: pointer;
}
.editText::before {
  content: url("../../../assets/img/edit\ \(1\)\ 1.png");
  margin-right: 6px;
}
.profileName {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 56px;
  color: #1f2a36;
}
.profileField {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1f2a36;
  margin-bottom: 4px;
}
.profileType {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #9ea0a5;
}
.profileLoc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #9ea0a5;
}
.profileLoc::before {
  content: url("../../../assets/img/map-pin\ \(4\)\ 1.png");
  margin-right: 13px;
}
.profilePhone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #9ea0a5;
}
.profilePhone::before {
  content: url("../../../assets/img/Vector\ \(1\).png");
  margin-right: 12.33px;
}
.profileDesc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #9ea0a5;
}
.btnBack {
  border: 1px solid #5e50a1;
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  margin-top: 21px;
  color: #5e50a1;
}
.cardForm {
  background: #ffffff;
  border-radius: 8px;
  padding: 36px 30px 27px 30px;
  margin-bottom: 20px;
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
  color: #1f2a36;
}
.everyLabel {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #9ea0a5;
}
.everyControl {
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #858d96;
}
.controlArea {
  height: 144px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #858d96;
  margin-bottom: 27px;
}
.btnSave {
  background: #fbb017;
  border-radius: 4px;
  border: #fbb017 solid 1px !important;
  width: 80px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  float: right;
}
.btnSave:hover {
  background: #faa015;
}
.mainRow {
  padding-top: 70px;
}
.rowSkill {
  flex-direction: row !important;
}
.cardSkill {
  background: #ffffff;
  border-radius: 8px;
  padding: 36px 30px 27px 30px;
  margin-bottom: 31px;
}
.btnSaveSkill {
  background: #fbb017;
  border-radius: 4px;
  border: #fbb017 solid 1px !important;
  width: 80px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
.btnSaveSkill:hover {
  background: #faa015;
}
.cardSkills {
  background: rgba(251, 176, 23, 0.6);
  border: 1px solid #fbb017;
  box-sizing: border-box;
  border-radius: 4px;
  height: 28px;
  width: 125px;
  margin-top: 35px;
  margin-bottom: 69px;
}
.nameSkills {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  padding: 4px;
}
.editSkill {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.delSkill {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.cardExp {
  padding: 30px 33px;
  padding-bottom: 120px;
  margin-bottom: 44px;
  background: #ffffff;
  border-radius: 8px;
}
.mainRowExp {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  overflow-x: scroll;
}

.cardUpload {
  border-style: dashed;
  border-width: 7px;
  cursor: pointer;
  margin-bottom: 40px;
}
.everyLabelExp {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #9ea0a5;
  margin-top: 32px;
}
.controlAreaExp {
  height: 136px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #858d96;
  margin-bottom: 40px;
}
.btnAdd {
  border: 1px solid #fbb017 !important;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white !important;
  height: 50px;
  color: #fbb017;
  margin-top: 36px;
  margin-bottom: 31px;
  width: 100%;
}
.btnAdd1 {
  border: 1px solid #fbb017 !important;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white !important;
  height: 50px;
  color: #fbb017;
  margin-top: 36px;
  margin-bottom: 31px;
  width: 100%;
  font-size: 12px;
}
.btnAdd2 {
  border: 1px solid #fbb017 !important;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white !important;
  height: 50px;
  color: #fbb017;
  margin-top: 36px;
  margin-bottom: 31px;
  width: 100%;
}
.btnAdd3 {
  border: 1px solid #fbb017 !important;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white !important;
  height: 50px;
  color: #fbb017;
  margin-top: 36px;
  margin-bottom: 31px;
  width: 100%;
}
.btnAdd:hover {
  color: white;
  background: #fbb017 !important;
}
.btnAdd1:hover {
  color: white;
  background: #fbb017 !important;
}
.btnAdd2:hover {
  color: white;
  background: #1e90ff !important;
  border: #1e90ff !important;
}
.btnAdd3:hover {
  color: white;
  background: #f08080 !important;
  border: #f08080 !important;
}
.cardPort {
  padding: 30px 33px;
  padding-bottom: 158px;
  margin-bottom: 194px;
  background: #ffffff;
  border-radius: 8px;
}
.everyLabelPort {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
  color: #9ea0a5;
  margin-top: 32px;
}
.imgUpload {
  width: 114px;
  height: 63.14px;
  margin: 0 auto;
  margin-top: 66.43px;
  margin-bottom: 37.43px;
}
.subTextPort1 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1f2a36;
  text-align: center;
}
.subTextPort2 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #1f2a36;
  text-align: center;
  margin-bottom: 40px;
}
.colUploadSet1 {
  padding-bottom: 19px;
}
.uploadSet1 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #1f2a36;
  text-align: right;
}
.uploadSet2 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #1f2a36;
}
.col1Upload {
  text-align: right;
  padding: 0px;
}
.col2Upload {
  text-align: left !important;
  padding: 0px;
}
.col3Upload {
  text-align: left !important;
  padding: 0px;
}
.col4Upload {
  padding: 0px;
}
.mainRowImg {
  margin-bottom: 62px;
}
