.footer {
  padding: 42px 120px 70px;
  color: #ffffff;
  background-color: #5e50a1;
}

.footerText {
  width: 381px;
  margin-top: 30px;
}

.separator {
  height: 1px !important;
  margin: 67px 0px 30px 0px !important;
  opacity: unset;
  background-color: #ffffff;
}

@media (min-width: 1200px) {
  .footer {
    padding: inherit 150px !important;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 42px 5% 70px !important;
  }
}

/* @media (max-width: 768px) {
  
} */
