.footer {
  font-size: 62.5%;
  padding: 8em 3em;
  color: #ffffff;
  background-color: #5e50a1;
}
.footer div > p,
.footer span {
  font-size: 1.2em;
}
.logo {
  height: 2.5em;
}
.footerText {
  font-size: 1.4em;
  margin-top: 2em;
  width: 100%;
}
.separator {
  background-color: #ffffff;
  margin: 5em 0px 2em 0px !important;
  opacity: unset;
}
@media (min-width: 576px) {
  .footer {
    padding: 8em 10em;
  }
}
@media (min-width: 768px) {
  .footerText {
    width: 60%;
  }
  .footer div > p,
  .footer span {
    font-size: 1.4em;
  }
}
@media (min-width: 1200px) {
  .footerText {
    width: 40%;
  }
}
