.contentWrapper {
  padding: 70px 120px;
}

.greyBox1,
.greyBox2 {
  width: 102%;
  height: 102%;
  position: absolute;
  background-color: #e2e5ed;
  z-index: -99;
}

.greyBox1 {
  transform: rotate(-15deg);
}

.greyBox2 {
  transform: rotate(15deg);
}

.imageContainer {
  position: relative;
}

.imageContainer::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 27%;
  height: 27%;
  left: -12%;
  bottom: -6%;
  background-color: #5e50a1;
}

.imageContainer::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10%;
  height: 10%;
  left: 8%;
  bottom: -10%;
  background-color: #fbb017;
}

.dotDecoration {
  position: absolute;
  left: 30px;
  bottom: 40px;
}

.heroImg {
  width: 100%;
  object-fit: cover;
}

/* .leftHero h1,
.leftHero p {
  width: 490px;
} */

.leftHero p {
  margin: 20px 0px 55px;
}

.leftHero {
  padding-right: 12%;
}

.CTAButton1,
.CTAButton2 {
  width: 210px;
  height: 63px;
}

.CTAButton2 {
  font-weight: 700;
  color: #796eaf;
}

.CTAButton2:hover {
  color: #5e50a1;
}

.row2,
.row3 {
  margin-top: 20%;
}

.tickIcon {
  border-radius: 50%;
}

.bottomRectangle {
  position: relative;
  width: 100%;
  padding: 8% 67px;
  border-radius: 40px 8px;
  background-color: #5e50a1;
}

.bottomRectangle p {
  width: 50%;
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
}
