.btn-primary {
  background-color: #5e50a1 !important;
}
.btn-secondary {
  background-color: #fbb017;
  border: 1px solid #fbb017 !important;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #3f3474 !important;
}

.btn-outline-primary {
  color: #5e50a1 !important;
}

.btn-light {
  border: 1px solid #5a5a5a !important;
  font-weight: 700;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: #5e50a1 !important;
  background-color: rgb(243, 243, 243);
}

.btn-primary,
.btn-outline-primary,
.btn-primary:focus,
.btn-outline-primary:focus {
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #5e50a1 !important;
}
