.btn-primary {
  background-color: #5e50a1;
}

.btn-primary:hover {
  background-color: #3f3474;
}

.btn-outline-primary {
  color: #5e50a1;
}

.btn-outline-primary:hover {
  color: #5e50a1;
  background-color: rgb(243, 243, 243);
}

.btn-primary,
.btn-outline-primary {
  border-radius: 5px;
  border: 1px solid #5e50a1 !important;
}
