@media (max-width: 512px) {
  .link2 {
    margin-left: 0px !important;
    padding: 12px 12px 12px 0px;
  }

  .main {
    padding: 40px 20px !important;
  }

  .cardOne {
    display: none;
  }

  .button {
    margin-bottom: 40px !important;
  }
}

.main {
  padding: 0px;
  padding-top: 120px;
  background-color: #f5f4f7;
}
.cardOne {
  background: #ffffff;
  border-radius: 8px;
  border: 0.5px solid lavenderblush;
  padding: 20px;
  margin-bottom: 183px;
}
.ppImg {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 13px;
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 56px;
  color: #1f2a36;
}
.field {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1f2a36;
  margin-bottom: 4px;
}
.type {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #9ea0a5;
  margin-bottom: 15px;
}
.loc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #9ea0a5;
  margin-bottom: 10px;
}
.loc::before {
  content: url("../../../assets/img/map-pin\ \(4\)\ 1.png");
  margin-right: 13px;
}
.phone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #9ea0a5;
  margin-bottom: 8px;
}
.phone::before {
  content: url("../../../assets/img/Vector\ \(1\).png");
  margin-right: 12.33px;
}
.desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #9ea0a5;
  margin-bottom: 24px;
}
.btnHire {
  width: 100%;
  background: #5e50a1;
  border-radius: 4px;
}
.title2 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #1f2a36;
  margin-top: 36px;
  margin-bottom: 20px;
}
.skills {
  margin-bottom: 62px;
}
.badge {
  background: rgba(251, 176, 23, 0.6);
  border: 1px solid #fbb017;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
  padding: 4px 8px;
}
.email {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #9ea0a5;
  margin-bottom: 27px;
}

.ig {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #9ea0a5;
  margin-bottom: 29px;
}

.github {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #9ea0a5;
  margin-bottom: 28px;
}

.gitlab {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #9ea0a5;
  margin-bottom: 82px;
}
.imgBottom {
  margin-bottom: 20px;
}
.imgBottom1 {
  margin-bottom: 25px;
}
.imgBottom2 {
  margin-bottom: 23px;
}

.colMargin {
  margin-left: 10px;
}

.col2 {
  font-family: Open Sans;
}

.col2 h5 {
  font-weight: 600;
  font-size: 32px;
}

.col2 h3 {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 18px;
}

.col2 label {
  font-size: 12px;
  color: #9ea0a5;
  margin-top: 20px;
}

::placeholder,
.textDropdown {
  font-size: 14px;
  color: #858d96;
}

.dropdown {
  border: 1px solid #e2e5ed;
  border-radius: 4px;
  background-color: white;
}

.dropdownName {
  font-size: 14px;
  color: #858d96;
  background-color: white;
}

.button {
  margin-top: 40px;
  background: #fbb017;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  padding: 10px 0;
}

.button:hover {
  background: #e29f18;
  color: #fff;
}
